[submodule "sammaru"]
	path = sammaru
	url = https://github.com/nhyunaa/sammaru.git
[submodule "Omok"]
	path = Omok
	url = https://github.com/2022-SAMMARU/Omok.git
[submodule "Five-in-a-row"]
	path = Five-in-a-row
	url = https://github.com/yijunghwan/Five-in-a-row.git
